.image {
  width: 1440px;
  height: 728px;
}

.image .braco-de-treinamento {
  position: fixed;
  width: 1440px;
  height: 728px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.box {
  width: 1440px;
  height: 728px;
}

.box .rectangle {
  position: fixed;
  width: 1440px;
  height: 728px;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.30);
  flex-shrink: 0;
}
.box_menu{
  width: 1440px;
  height: 130px;
}

.box_menu .rectangle{
  position: fixed;
  width: 1440px;
  height: 130px;
  top: 0;
  left: 0;
  background-color: #ffffff80;
}

.box_icon {
  width: 55px;
  height: 55px;
}
.box_icon .icon {
  position: fixed;
  width: 55px;
  height: 55px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.container_menu {
  width: 984px;
  height: 128px;
}

.container_menu .con-menu-e-icon {
  width: 984px;
  height: 128px;
  padding-left: 228px;
  padding-right: 228px;
  margin: auto;
}

.image_icon {
  width: 89px;
  height: 89px;
}

.image_icon .logo-removebg {
  position: fixed;
  width: 89px;
  height: 89px;
  top: 0;
  left: 0;
  object-fit: cover;
}
