.image {
  width: 1440px;
  height: 728px;
}

.image .braco-de-treinamento {
  position: fixed;
  width: 1440px;
  height: 728px;
  top: 0;
  left: 0;
  object-fit: cover;
}
.box {
  width: 1440px;
  height: 728px;
}

.box .rectangle {
  position: fixed;
  width: 1440px;
  height: 728px;
  top: 0;
  left: 0;
  background-color: #ffffff4c;
}