:root {
  --ads-font-family: "IngridDarling-Regular", Helvetica;
  --ads-font-weight: 400;
  --ads-font-size: 24px;
  --ads-letter-spacing: 0px;
  --ads-line-height: normal;
  --ads-font-style: normal;
}
